.navbar{
    box-shadow: 1px 2px 6px rgb(141, 137, 137);
}
.searchbar{
    margin-bottom: auto;
    margin-top: auto;
    height: 50px;
    border-radius: 30px;
    padding: 10px;
    background-color:rgb(248, 248, 248) ;
    
    }
    .search_icon{
        color: black;
    }
    .search_input{
    border:0;
    outline: 0;
    background:none;
    width:30rem;
    }

    .nav-link i{
        font-size: large;
        color: black;
    }
    .nav-link{
        font-size: small;
        color: black;
    }
    .nav-link:hover{
        color: blueviolet;
    }
    .ho h5{
        font-family: sf pro display,-apple-system,BlinkMacSystemFont,Roboto,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
        font-weight: 700;
        line-height: 1.2;
        letter-spacing: -.02rem;
        
    }
    .ho:hover .dropdown-menu{
        display:flex
    }
    .cart:hover .dropdown-menu{
        display:block
    }
  
    header {
        
        background-image: url("E:\demo\img\bg2.png");
        background-position: center;
       
        background-repeat: no-repeat;
        background-size: cover;

    
    }
    header img{

        position: absolute;
        top:11%;
        z-index:-1;
        
    
    }
    .hea{
       width: 19rem;
       background-color: white;
       box-shadow: 1px 2px 6px rgb(141, 137, 137);
    }
    .hea h2{
        font-family: SuisseWorks,Georgia,Times,times new roman,serif,apple color emoji,segoe ui emoji,segoe ui symbol;
        font-weight: 700;
        line-height: 1.25;
        letter-spacing: -.05rem;
    }
    .search2{
        border:0;
        outline: 0;
        background:none;
        height: 3rem;
        }
    .mo-link{
        color: black;
        font-size: 1rem;
        text-decoration:none;
    }
    .modalCenter{
        top: 20%;
        transform: translateY(-50%);
   }
/* ..................................................... */
.towLine-lg h2{
    max-width: 80rem;
    font-family: SuisseWorks,Georgia,Times,times new roman,serif,apple color emoji,segoe ui emoji,segoe ui symbol;
    font-weight: 700;
    font-size: 2.2rem;
    line-height: 1.25;
    letter-spacing: -.05rem;
}
.towLine-lg p{
    font-family: sf pro text,-apple-system,BlinkMacSystemFont,Roboto,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
    font-weight: 400;
    line-height: 1.4;
    font-size: 1.2rem;
}
.sub-name-link{
    font-family: sf pro display,-apple-system,BlinkMacSystemFont,Roboto,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
    font-weight: 700;
    text-decoration: none;
    color: #6a6f73
  }
  .sub-name-link:hover{
    color: black
  }
  .sub-name-link:focus{
    color: black
  }
  
  /*......... card slider........ */
.ratings{
    font-size: small;
    color:#b4690e;
    font-weight: 700;
  }
  
  .star i{
    font-size: x-small;
    color: darkgoldenrod;
  }
  
  .carousel-inner .carousel-item {
    transition: transform 1s ease;
  }
  .card{
    border: none;
  }
  .card-title{
      font-family: sf pro display,-apple-system,BlinkMacSystemFont,Roboto,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
      font-weight: 700;
      line-height: 1.2;
      letter-spacing: -.02rem;
      
  }


/* part22222222222222222222222 */
.title {
    font-family: sf pro display,-apple-system,BlinkMacSystemFont,Roboto,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -.02rem;
    font-size: 1.5rem;
}
.top-kard img:hover {
    transform: scale(1.05);
    transition: transform 150ms cubic-bezier(0,0,.38,.9);
}
.k-name{
  
        font-family: sf pro display,-apple-system,BlinkMacSystemFont,Roboto,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
        font-weight: 700;
        line-height: 1.2;
     
}
.sub-title{
    font-family: sf pro display,-apple-system,BlinkMacSystemFont,Roboto,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -.02rem;
    font-size: 1.1rem;
}
.featured-link{
    text-decoration: underline;
    font-weight: 700;
    color: #5624d0;
}
.featured-link:hover{
    color: #401b9c;
}
.student{
    color: #6a6f73;
    font-size:smaller;
}
.explore{
    color: #1c1d1f;
    font-size:smaller;
    font-family: sf pro display,-apple-system,BlinkMacSystemFont,Roboto,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
    font-weight: 700;        
}

.person-title{
    font-family: SuisseWorks,Georgia,Times,times new roman,serif,apple color emoji,segoe ui emoji,segoe ui symbol;
    font-weight: 700;
    /* font-size: 3.2rem; */
    line-height: 1.25;
    letter-spacing: -.05rem;
}
.title-details{
    font-family: sf pro text,-apple-system,BlinkMacSystemFont,Roboto,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
    font-weight: 400;
    line-height: 1.4;
    font-size: 1.2rem;

}
.per-bttn{
    color: #1c1d1f;
    font-family: sf pro display,-apple-system,BlinkMacSystemFont,Roboto,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
    font-weight: 700;
    height: 55px;
}
.partners-title{
        font-family: SuisseWorks,Georgia,Times,times new roman,serif,apple color emoji,segoe ui emoji,segoe ui symbol;
        font-weight: 700;
        font-size: 1.7rem;
        line-height: 1.35;
        letter-spacing: -.02rem;
   
}
.footer{
    background-color: #1c1d1f;
}
.fo-link{
    font-size: smaller;
    text-decoration:#1c1d1f
    
}
.fo-link:hover{
    font-size: smaller;
    text-decoration: underline;
    
}